SECRET_KEY=220101
DJANGO_ALLOWED_HOSTS=["*"]
FE_DOMAIN=<ip_address>:3000
BE_DOMAIN=http://<ip_address>:82

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DEBUG=False
# reset password config
DJANGO_REST_MULTITOKENAUTH_RESET_TOKEN_EXPIRY_TIME=24

# dodaddy
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
EMAIL_USE_TLS=
EMAIL_USE_SSL=

CELERY_REDIS_URL="redis://<ip_address>:6379/0"
REDIS_URL="redis://<ip_address>:6379/1"

CRON_JOBS_TIME_HOUR=0
CRON_JOBS_TIME_MINUTE=0
GRPC_SERVER=<ip_address>:50051

FORWARD_PORT=82