DB_NAME=paihong_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
SECRET_KEY=change-me
BE_DOMAIN=http://192.168.0.134:82

OBJECT_STORAGE_BACKEND=1
FILE_STORAGE_ROOT=/usr/src/service/media
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_S3_ENDPOINT_URL=
AWS_S3_CUSTOM_DOMAIN=
